<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERS</title>
  </head>

  <body>

  <h1> Users & Interests </h1>

  <div class="content">
    <%= yield %>
  </div>

  <div class="running total of users and interests">
   <p>Total users: <%= count_users %></p>
   <p>Total interests: <%= count_interests %></p>
  </div>
 
  </body>
</html>